<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <script language="javascript" src="wanakana.min.js"></script>
    <script language="javascript" src="all_cc_js_name"></script>
  </head>
  <body>
  </body>
  <script language="javascript" src="runmain.js" defer></script>
</html>
